INSTAGRAM_APP_ID=1428803625601557
INSTAGRAM_APP_SECRET=put_your_private_secret_here
INSTAGRAM_REDIRECT_URI=https://reelflow-topaz.vercel.app/auth/instagram/callback
TIKTOK_CLIENT_KEY=sbaw89mga3yconmz26
TIKTOK_CLIENT_SECRET=put_your_tiktok_client_secret_here
TIKTOK_REDIRECT_URI=https://reelflow-topaz.vercel.app/auth/tiktok/callback
